<a href="https://colab.research.google.com/github/dikshagautam208/Genetic-experiments/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 1

## Python

- ‘Two-language’ problem (scientific vs machine-friendly)
- Readable, popular, and (un)officially well-documented
- A package for almost anything – or easy to make one!

### Jupyter Tips

- The interface you are using right now is called a Jupyter Notebook
- It is divided into cells
- Cells are either Python or markdown
- Markdown is text with very simple formatting (titles, bullet points, etc.)
- This cell is markdown
- With any cell selected, up and down arrow keys will select cells above and below
- With any cell selected, enter key will enter the cursor into that cell
- The cursor is different to the mouse; the mouse is what you click with, the cursor is what you type with
- With cursor inside any cell, markdown or Python will be shown in the bottom-right. Python cells will show this even without cursor inside
- With cursor inside any cell, 'esc' to exit the cursor from the cell and select that cell
- With any cell selected, press 'a' to create a Python cell above and 'b' to create a Python cell below
- With any Python cell selected, press 'm' to turn it into a markdown cell
- Any cell(s) selected can be copied, cut and paste using 'c', 'x' and 'v' (Ctrl/Cmd not necessary)
- Cells can be run with Ctrl+Enter (Shift+Enter to run and select next cell)
- Running a markdown cell will compile and display it
- Running a Python cell will run all the Python inside it and show the value of  the last line. Beware that a variable assignment statement does not have a value: you will need to state the variable name on its own to get its value
- You can also drag cells around with your mouse, and interact using your mouse in a variety of ways
- The Jupyter interface is very forgiving and not as complicated as Microsoft Office or others which you are used to using. Play around and see what it can do! It (almost certainly) will not break
- Having your cursor inside a cell is not the same as having a cell selected! (The same shortcuts will not work)

### Variables and Objects

- A variable is a symbol for a value
- Everything in Python is an object – objects have types, but variables’ types are flexible

Comments:
You can add comments to code with ‘#’ – what comes after is not Python anymore

- Common types include:
    - Numeric: Integers and Floats
    - Strings (writing)
    - Booleans (True or False)
    - Lists
    - Tuples
    - Dictionaries
    - None (null/nothing)

In [ ]:
age_str = 'two' # 'two' is a string
age_str

'two'

In [ ]:
two_str = '2' # '2' is also a string
two_str

'2'

In [ ]:
age_months = 25 # 25 is an integer
age_years = age_months / 12 # 25 / 12 will be a float

age_years

2.0833333333333335

In [ ]:
over_18 = age_years > 18 # age > 18 will be a boolean
over_18

False

In [ ]:
# jupyter prints the last line automatically, but if you need to see more than that, use print()
print(two_str)
print(age_str)

2

NameError: name 'age_str' is not defined

In [ ]:
# get used to the difference between = and ==
print(two_str == '2')
# = is variable assignment whereas == means "are these two thing equal?" as a question

True

In [ ]:
# we can get the type of any object
type(over_18)

bool

In [ ]:
type(age_years)

float

In [ ]:
type(age_months)

int

In [ ]:
int(two_str) # we can 'cast' Python types into other types, when it makes sense

2

In [ ]:
str(2)

'2'

In [ ]:
float(int(two_str))

2.0

In [ ]:
bool("Something") # be careful of casting booleans - almost any data is True

True

In [ ]:
bool(4.0)

True

In [ ]:
bool(None) # only an absence of data, or a zero, is False as a boolean

False

In [ ]:
bool(0) # 0 is also False so that binary works: 1 - True, 0 - False

False

In [ ]:
# we can't cast types when it doesn't make sense
int("I am not an integer")

ValueError: invalid literal for int() with base 10: 'I am not an integer'

In [ ]:
# f-strings allow you to put variables in strings (formatting)

f"I am older than {age_months} months old"

'I am older than 25 months old'

In [ ]:
# we can get the length of a string with len()
len(age_str)

NameError: name 'age_str' is not defined

#### Exercises

Using the above as hints:

1. Write someone's first name into a variable.
    1. Get the number of letters in it.
    2. Look up how to turn the `string` into all capital letters, or all lowercase letters.
2. Write a full name (with at least one space between first and last)
    1. Look up how to 'split' the `string` where the spaces are so that you have the first and last (and any more) names separately.
    2. Now, use what you have learned so far to get the total number of letters in the name not counting the space!
3. Look up how to take one number to the power of another, and do so with any pair of numbers
4. Try all of the basic arithmetic operations (division, multiplication, etc.) on strings and integers, and try also with one string and one integer variable. Which ones work and which ones throw errors? Think about why it makes sense to do some operations and not to do others

In [ ]:
# Put your answers here (Esc > 'b' to add more cells)

### Collections and Mutability

- A collection is any type which is designed to hold other objects: e.g. lists, tuples and dictionaries
- Mutable means changeable – some collections let you change which objects they hold (lists and dictionaries), others are frozen on creation (tuples)
- Lists and tuples are ordered and are indexed from 0 to the end
- Dictionaries have no order (unlike a real dictionary!) and you do the indexing

In [ ]:
my_list = ['I', 'am', 'a', 'list'] # square brackets create lists
my_list

['I', 'am', 'a', 'list']

In [ ]:
my_list[3]

NameError: name 'my_list' is not defined

In [ ]:
len(my_list)

NameError: name 'my_list' is not defined

In [ ]:
# list example
my_list[0] = 'This' # indexing starts at 0 (0-indexing)
my_list[1] = 'is'
my_list

NameError: name 'my_list' is not defined

In [ ]:
my_list[0]

'This'

In [ ]:
my_list.append('with') # add to a list with the append method
my_list.append('extra') # note that we do not need to assign using =
my_list.append('elements')

my_list

NameError: name 'my_list' is not defined

In [ ]:
# dictionary example
my_dict = {'A': 'alpha', 'B': 'bravo'} # curly brackets create dictionaries
my_dict['C'] = 'charlie' # adding a new key-value pair
my_dict

{'A': 'alpha', 'B': 'bravo', 'C': 'charlie'}

In [ ]:
# here, we call C the 'key' (which is slightly different to an index,
# mainly because it cannot be sliced) and charlie the 'value'
my_dict['C']

'charlie'

In [ ]:
# tuple example
my_tup = ('I', 'am', 'immutable')
my_tup[2] = 'mutable' # this will throw an error

TypeError: 'tuple' object does not support item assignment

In [ ]:
# two or more items separated by commas are automatically a tuple
new_tup = 'I', 'am', 'a', 'tuple'
new_tup

('I', 'am', 'a', 'tuple')

In [ ]:
# this can also be useful for showing multiple values on the last line of a cell:
my_tup, new_tup

(('I', 'am', 'immutable'), ('I', 'am', 'a', 'tuple'))

In [ ]:
# if you need to get a series of increasing integers, you can use range() and cast it to a list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
# you can sum and get the max and min of numerical lists
sum([1, 2.5, 3])

6.5

In [ ]:
max([9, 7, 8])

9

In [ ]:
min([9, 7, 8])

7

#### Exercises

Using the above as hints:

1. Write some numbers into a list and use `sorted()` to sort them. Look up how to get them in reverse order!
2. Write a numerical list (including both integers and floats) and calculate the mean of those numbers from the list
3. Create a dictionary with a numerical index and sort it. What happens?
4. Now create a list with mixed numerical and string types and try to sort it. What happens? Can you understand why? Prove to yourself that the same thing happens if you use the same mixture of types as dictionary keys

In [ ]:
# Put your answers here (Esc > 'b' to add more cells)

### Slices

- Any collection with order can be slices
- Slices have the form `start:stop:step`

In [ ]:
my_str = 'I am a string'
my_str

'I am a string'

In [ ]:
my_str[::3]

'Im rg'

In [ ]:
my_str[:6]

'I am a'

In [ ]:
my_str[:-2]

'I am a stri'

In [ ]:
my_str[:4:-1]

'gnirts a'

#### Exercises

Using the above as hints:

1. Create a string and experiment with different slices of it.
    * Make sure you understand how this works with positive numbers
    * Then experiment with negative numbers
2. Create and do the same with a list, and observe the similarity
3. Create a dictionary and attempt to slice. Why doesn't this work?

In [ ]:
# Put your answers here (Esc > 'b' to add more cells)

### Functions

- A function is an object which does something
    - E.g. `overEighteen(age)`
        - Which operator would you use from the list to the right?
    - Many functions already exist, and you can make your own
- Most Python objects have functions attached to them – these are called methods
- Operators are also functions that are made convenient to use

In [ ]:
def overEighteen(age):
    return age > 18

overEighteen(23), overEighteen(17)

(True, False)

#### Exercises

Using the above as hints:

1. Earlier on, you calculated the mean of a list of numbers. Write a function with does this, and use it on two different lists that you create.
2. Define a numerical variable, and write a function with no inputs that squares that variable. See what happens when you run in multiple times. This type of use of a function is called a 'side-effect'ing function as opposed to a 'functional' function which has every variable it uses as an input and returns all its results as outputs
3. Think about, and write into a comment, whether side-effecting or functional functions are better, and why? When most people get to here, we will stop to have a brief discussion about this, so be ready to give your opinion!

In [ ]:
# Put your answers here (Esc > 'b' to add more cells)

### Flow Control

In [ ]:
age = 23

# If
if age > 18:
    print("You are an adult")
elif age == 18:
    print("You are (just barely) an adult")
else:
    print("You are not an adult")

You are an adult

In [1]:
age = 13
if age > 18:
  print("Adult")
elif age == 18:
  print("Just barely")
else:
  print("Not adult")

Not adult

In [ ]:
# For
for i in range(5):
    print(i)
# range() is a special type of object - you can loop over it, or turn it
# into a list, but until you do either of those things it can't really
# be used for anything

# also, notice that range() inputs work the same way as slices!

0
1
2
3
4

In [6]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [11]:
for i in range(10,2, -2):
  print(i)

10
8
6
4

In [ ]:
# While
i = 0
while i < 5:
    print(i)
    i += 1 # i = i + 1

0
1
2
3
4

In [12]:
i=0
while i < 11:
  print(i)
  i += 2

0
2
4
6
8
10

In [13]:
i=1
while i < 11:
  print(i)
  i += 2

1
3
5
7
9

#### Exercises

Using the above as hints:

1. Write a function which checks if the input number is prime. Feel free to use the internet for help, but make sure you understand the solution
2. Using the above function, make a function that checks if each successive number (0, 1, 2, 3...) up to the input is prime, and writes that information into a dictionary where the key is the number and the value is whether it is prime or not. See how large of a number you can put in and still a result reasonably quickly!

In [16]:
def if_prime(num):
  if num < 1:
    return False
  for i in range(2, int(float(num)**0.5)+1):
    if num % i == 0:
      return False
  return True

print(if_prime(16))

False

In [5]:
# check for each number upto a certain input whether it is prime or not
def check_primes(limit):
  results = []
  for i in range(limit + 1):
    results.append((i,if_prime(i)))
  return results
def if_prime(num):
  if num < 1:
    return False
  for i in range(2, int(float(num)**0.5)+1):
    if num % i == 0:
      return False
  return True

print(check_primes(10))

[(0, False), (1, True), (2, True), (3, True), (4, False), (5, True), (6, False), (7, True), (8, False), (9, False), (10, False)]

In [13]:
def check_prime(upper):
  answer = []
  for i in range(upper):
    answer.append((i,if_prime(i)))
  return answer

def if_prime(num):
  if num<=1:
    return False
  for i in range(2,int(float(num)**0.5)+1):
    if num % i == 0:
      return False
  return True

print(check_prime(5))

[(0, False), (1, False), (2, True), (3, True), (4, False)]

In [14]:
def dict_primes(upper):
  primes = {}
  for number in range(upper+1):
    primes[number] = if_prime(number)
  return primes
results = dict_primes(10)
print(results)

{0: False, 1: False, 2: True, 3: True, 4: False, 5: True, 6: False, 7: True, 8: False, 9: False, 10: False}

### Imports

- You can import packages in Python
- Some are built into Python, like `datetime`, `os` and `time`
    - `datetime` provides tools for working with… you guessed it (dates and times)
    - `os` allows interaction with operating system
    - `time` allow you to time things in Python
    - These are just some examples, there are *far* too many to go through them all
- Others, like numpy and pandas, are not
    - These need to be installed
- Python comes with a tool called ‘pip’ for installing packages

In [15]:
import datetime
datetime.datetime.now()

datetime.datetime(2025, 3, 18, 18, 40, 27, 789355)

In [16]:
import datetime as dt
dt.datetime.now()

datetime.datetime(2025, 3, 18, 18, 40, 27, 798503)

In [17]:
import os
os.path.abspath('.') # . means 'here'

'/content'

In [18]:
import os
os.path.abspath('.')

'/content'

In [19]:
import time
start = time.perf_counter()
total = sum(range(int(1e9)))
end = time.perf_counter()
f"Summing to integers to one billion took {end-start:.6f} seconds (result = {total})"

'Summing to integers to one billion took 21.619099 seconds (result = 499999999500000000)'

In [20]:
import time
start = time.perf_counter()
total = sum(range(int(1e4)))
end = time.perf_counter()
f"Summing to integers to ten thousand took {end-start:.6f} seconds (result= {total})"

'Summing to integers to ten thousand took 0.000271 seconds (result= 49995000)'

In [21]:
print("hello world")

hello world

#### Exercises

Using the above as hints:

1. Rewrite your answer to Q2 in the previous section so that instead of the dictionary value showing whether that number is prime or not, it now shows how long it took to determine if that number was prime.
2. Now write a function that tells you which number is the largest number whose primeness can be checked in under 10 seconds. The answer may be slightly, or even a lot different each time you run it! This is because everything else happening inside the computer can affect how much time large operations take

In [23]:
# output: time taken to determine if the number
def time_to_generate_primes(upper):
  prime_dict = {}
  for i in range(upper+1):
    start = time.perf_counter()
    prime_dict[i] = if_prime(i)
    end = time.perf_counter()
    prime_dict[i] = end-start
  return prime_dict

print(time_to_generate_primes(10))

{0: 2.27999998969608e-06, 1: 5.500000952451956e-07, 2: 7.380000170087442e-06, 3: 1.1800002539530396e-06, 4: 1.5999999050109182e-06, 5: 1.1180000001331791e-06, 6: 7.700000423938036e-07, 7: 1.5650002751499414e-06, 8: 8.619999789516442e-07, 9: 1.3359999684325885e-06, 10: 1.6309995771734975e-06}

In [4]:
import time
def prime_time(upper):
  prime_dict = {}
  for i in range(upper+1):
    start = time.perf_counter()
    prime_dict[i] = if_prime(i)
    end = time.perf_counter()
    prime_dict[i] = end-start
  return prime_dict

def if_prime(num):
  if num<= 1:
    return False
  for i in range(2,int(float(num)**0.5)):
    if num%i == 0:
      return False
    return True
  return True

print(prime_time(100))
'''
end-start = time_limit
def max_time(prime_dict):
  for i in range(upper+1):
    if



'''

{0: 9.350000027552596e-07, 1: 5.759999908150348e-07, 2: 8.763999971961312e-06, 3: 1.2300000094001007e-06, 4: 6.439999538088159e-07, 5: 1.419000000169035e-06, 6: 7.399999617518915e-07, 7: 3.0960000003688037e-06, 8: 9.599999657439184e-07, 9: 1.7269999830205052e-06, 10: 1.08200003978709e-06, 11: 7.920000371086644e-07, 12: 5.730000225412368e-07, 13: 8.019999881980766e-07, 14: 6.700000199089118e-07, 15: 7.820000291758333e-07, 16: 5.630000146084058e-07, 17: 9.510000040791056e-07, 18: 7.209999921542476e-07, 19: 7.940000159578631e-07, 20: 5.229999828770815e-07, 21: 1.7870000306174916e-06, 22: 7.209999921542476e-07, 23: 7.730000106676016e-07, 24: 5.020000344302389e-07, 25: 6.559999974342645e-07, 26: 5.680000185748213e-07, 27: 9.180000120068144e-07, 28: 6.409999855350179e-07, 29: 7.779999577905983e-07, 30: 6.620000476686982e-07, 31: 9.420000424142927e-07, 32: 5.269999974188977e-07, 33: 6.829999961155409e-07, 34: 5.079999709778349e-07, 35: 6.810000172663422e-07, 36: 5.169999894860666e-07, 37: 6.6100000140068e-07, 38: 7.670000172765867e-07, 39: 5.269999974188977e-07, 40: 6.299999881775875e-07, 41: 6.540000185850658e-07, 42: 1.1469999776636541e-06, 43: 5.459999670165416e-07, 44: 6.630000370932976e-07, 45: 6.570000437022827e-07, 46: 9.240000053978292e-07, 47: 6.479999683506321e-07, 48: 5.329999908099126e-07, 49: 7.759999789413996e-07, 50: 5.350000265025301e-07, 51: 6.440000106522348e-07, 52: 5.119999855196511e-07, 53: 7.889999551480287e-07, 54: 5.399999736255268e-07, 55: 6.820000066909415e-07, 56: 5.359999590837106e-07, 57: 6.570000437022827e-07, 58: 5.100000066704524e-07, 59: 5.260000079942984e-07, 60: 6.820000066909415e-07, 61: 7.999999525054591e-07, 62: 6.239999947865726e-07, 63: 5.51000027826376e-07, 64: 5.53999996100174e-07, 65: 5.17999978910666e-07, 66: 6.309999776021868e-07, 67: 5.389999842009274e-07, 68: 5.109999960950518e-07, 69: 5.149999537934491e-07, 70: 5.290000331115152e-07, 71: 5.389999842009274e-07, 72: 5.070000383966544e-07, 73: 5.180000357540848e-07, 74: 5.079999709778349e-07, 75: 6.690000304843124e-07, 76: 6.270000199037895e-07, 77: 5.189999683352653e-07, 78: 5.329999908099126e-07, 79: 5.200000146032835e-07, 80: 5.069999815532356e-07, 81: 5.190000251786842e-07, 82: 5.310000119607139e-07, 83: 5.249999617262802e-07, 84: 6.410000423784368e-07, 85: 1.940999993621517e-06, 86: 6.039999789209105e-07, 87: 5.429999987427436e-07, 88: 5.109999960950518e-07, 89: 6.369999709932017e-07, 90: 5.160000000614673e-07, 91: 5.780000265076524e-07, 92: 5.160000000614673e-07, 93: 6.440000106522348e-07, 94: 5.129999749442504e-07, 95: 5.420000093181443e-07, 96: 5.069999815532356e-07, 97: 6.500000040432496e-07, 98: 5.329999908099126e-07, 99: 5.229999828770815e-07, 100: 5.25000018569699e-07}

In [15]:
import time
import sympy

# can_check_prime() returns time that is less than time limit
def can_check_prime(n, time_limit=10):
    """Returns True if the primality of n can be checked within time_limit seconds."""
    start_time = time.time()
    sympy.isprime(n)  # sympy's isprime uses optimized methods
    return (time.time() - start_time) < time_limit

def find_largest_checkable_prime(start=10**18, time_limit=10):
  # starts at 10^18 (adjustable) and works downward if needed
    """Finds the largest number whose primality can be checked within time_limit seconds."""
    low, high = 2, start
    best = 2

    while low <= high:
        mid = (low + high) // 2
        if can_check_prime(mid, time_limit):
            best = mid  # Update the best found
            low = mid + 1  # Try a larger number
        else:
            high = mid - 1  # Try a smaller number

    return best

# Example usage:
largest_prime = find_largest_checkable_prime()
print("Largest checkable prime:", largest_prime)

Largest checkable prime: 1000000000000000000

### Jupyter

- “Hello world!” (traditional since 1972)
- Like a cross between a document and a program.
- Divided into cells: cells execute code and display output immediately.
    - Can add text/image cells as well – if we do something complicated, we can use text to explain it to our reader!
    - Markdown – has a few bells and whistles to help make it look nice
- The Golden Goose of repeatability in scientific papers:
    - The Jupyter “Notebook” is the paper – to repeat the study, just press ‘run’!

# image
![Alt text]( https://images.app.goo.gl/6NJjdcduQvhpUchj9 )

In [ ]:
print("Hello, World!")

Hello, World!

#### Exercises

Using the above as hints:

1. Create a markdown cell below this one and add some text to it.

2. Find a graph (of your favourite data) from the internet and use the internet to work out how to add the image to the cell you just added.

### Example Scripts

In [ ]:
# This script generates the first `n` numbers in the Fibonacci sequence.
def generate_fibonacci(n):
    fib_sequence = [0, 1]
    for i in range(2, n):
        next_number = fib_sequence[i - 1] + fib_sequence[i - 2]
        fib_sequence.append(next_number)
    return fib_sequence

print(generate_fibonacci(10))  # Should print the first 10 Fibonacci numbers
print(generate_fibonacci(0))   # Should print [0]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1]

In [17]:
# generate the first n numbers of fibonacci
def generate_fib(n):
  fibonacci_seq = [0,1]
  for i in range(2,n):
    next_num = fibonacci_seq[i-1]+ fibonacci_seq[i-2]
    fibonacci_seq.append(next_num)
  return fibonacci_seq

print(generate_fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# This script counts the frequency of each word in a given text.
def word_frequency(text):
    words = text.split()
    frequency = {}
    for word in words:
        word = word.lower()  # Normalize to lowercase
        if word not in frequency:
            frequency[word] = 0
        frequency[word] += 1
    return frequency

text = "Hello, world! Hello Python."
print(word_frequency(text))  # Should count "hello" twice and ignore punctuation

{'hello,': 1, 'world!': 1, 'hello': 1, 'python.': 1}

In [18]:
# This script finds the longest word(s) in a sentence.
def find_longest_word(sentence):
    words = sentence.split()
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

sentence = "Sphinx of black quartz , judge my vow"
find_longest_word(sentence)  # Should print ["Sphinx", "quartz"]

'Sphinx'

In [ ]:
def longest_word(sentence):
  words = sentence.split()
  longest_word = ""
  for word in words:
    if len(word) > len(longest_word):
      longest_word = word
  return longest_word

In [ ]:
# This script calculates the sum of digits of a number recursively.
def sum_of_digits(n):
    if n == 0:
        return 0
    return n % 10 + sum_of_digits(n // 10)

# Test in Jupyter:
print(sum_of_digits(123))   # Should print 6 (1 + 2 + 3)
# 123%10 = 3 , 123//10= 12
# 3 + 12%10(=2) + 12//10 (=1)
# 3+2+ 1%10(=0)
# 3+2+1+0 = 6
print(sum_of_digits(-123))  # Should print an error or incorrect result

6

RecursionError: maximum recursion depth exceeded

In [ ]:
# print sum of digits
def sum_of_digits(n):
  if n==0:
    return 0
  else:
     return